/**********GLITCH ANIMATION**********/
:hover.stack {
    display: grid;
    grid-template-columns: 1fr;
}

:hover.stack code {
    animation: glitch 1s infinite alternate-reverse, glitch2 0.5s linear infinite;
}

@keyframes glitch {
    0% {
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    }

    10% {
        text-shadow: -3px 2px 0 red, 1px -2px 0 blue;
    }

    25% {
        text-shadow: none;
        transform: none;
    }

    50% {
        text-shadow: -2px -3px 0 red, -2px 3px 0 blue;
    }

    75% {
        text-shadow: none;
        transform: none;
    }

    100% {
        text-shadow: none;
        transform: none;
    }
}

@keyframes glitch2 {

    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }

    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

:hover.glitch:before,
:hover.glitch:after {
    content: attr(id);
    position: absolute;
    top: 0%;
  left: 50%;
  transform: translate(-50%);
}

:hover.glitch:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 2px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

:hover.glitch:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {

    2%,
    64% {
        transform: translate(-2px, 0);
    }

    4%,
    60% {
        transform: translate(-2px, 0);
    }

    62% {
        transform: translate(-12px, 5px) skew(21deg);
    }
}

.entry:hover {
    font-weight: bold;
}