@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3b375e;
    /*border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #68638d;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9992bf;
}

html {
    scroll-behavior: smooth;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='file'] {
    color: transparent;
}

::file-selector-button {
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border-width: 2px;
    outline: 0;
    background-color: #334155;
    color: white;
    border-color: #64748b;
}